* {
    padding: 0;
    margin: 0;
}

/* 바탕 비디오 */
.introVideo a {
    display: flex;
    width: 100%;
    height: 100vh;
}

.introVideo video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* 상단 메뉴 */
ul {
    list-style: none;
}

.introHeader>ul {
    position: fixed;
    top: 0;
    margin: 20px;
}

.introHeader ul+ul {
    right: 0;
}

.introHeader>ul>li {
    display: inline-block;
}

.mainLogo {
    width: 200px;
    height: 100px;
    background: url(../image/jeep.png) center/200px;
    text-indent: -9999px;
    margin-left: 10vw;
    position: relative;
    z-index: 9999;
}

.subMenu li {
    margin-left: 30px;
}

/* 좌측 메뉴 호버 */
.mainMenuHover {
    visibility: hidden;
    background-color: white;
    width: 30vw;
    min-width: 287px;
    height: 100%;
    padding-top: 200px;
    position: fixed;
    top: 0;
    left: 0;
}

.mainMenuHover::after {
    content: "";
    background: url(../image/jeep.png) no-repeat top/200px 100px;
    position: absolute;
}

.subCategory {
    background-color: gold;
    font-size: 12px;
    line-height: 60px;
    display: flex;
    justify-content: space-evenly;
}

.mainCategory {
    margin: 70px 0 150px 30px;
    font-size: 18px;
}

.mainCategory li {
    margin-bottom: 10px;
}

.mainMenuHover>li+li+li {
    margin: 30px;
}

.mainMenu:hover .mainMenuHover {
    visibility: visible;
}

/* 하단 메뉴 */
.bottomCategory {
    position: fixed;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    list-style: none
}

.bottomCategory li {
    display: inline-block;
    color: white;
    font-size: 14px;
}

.bottomCategory li+li {
    margin-left: 20px;
}