/* =========공통 속성=========== */

* {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    /* margin: 0 auto; */
    color: #333;
    word-wrap: break-word;
    word-break: keep-all;
}

div {
    /* border: 1px solid; */
}

a {
    color: #222;
    text-decoration: none;
    outline: none;
}

li {
    display: inline-block;
}

.header_cover,
#container,
#footer .footer_cover {
    max-width: 1240px;
    margin: 0 auto;

}

/* ======================header==================================================== */
/* ========================header 공통========================================== */
.mainLogo,
.mainCategories,
.mainCategoryList li,
.mainSearch,
.Search_bar,
.mainLogin {
    display: inline-block;
}


#header {
    background-color: rgb(238, 238, 238);
    position: sticky;
    display: block;
    /* margin: 0 auto; */
    z-index: 999;
    top: 0;

}

.mainCategoryList {
    text-align: center;
}



.headerMenu {
    line-height: 30px;
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
}

/* 로고 */
.mainLogo {
    background: url(../image/starbucks.jpg) 0/cover no-repeat;
    width: 150px;
    text-indent: -9999em;
    /* background-color: black; */
    text-align: center;
}

.ServiceLogin {
    display: flex;
}

.mainLogin {
    position: relative;
    left: 8%;
    /* float: right; */
}

.mainLogin a {

    vertical-align: middle;
}

.mainCategoryList li:not(.mainCategoryList li:nth-of-type(1)) {
    margin: 0 30px;
}

.mainCategoryList:nth-child(5) {
    vertical-align: middle;
}

.Search_bar {
    width: 300px;
    line-height: 20px;
    border: solid 1px;
    border-radius: 3%/10%;
    vertical-align: middle;
    margin-left: 20px;
    opacity: 0.7;
    background-color: rgb(250, 250, 250);
}

.Search_bar img {
    width: 25px;
    float: left;
    margin: 2px;
    opacity: 0.4;
}

.mainLogin img {
    width: 30px;
    vertical-align: middle;
    margin-left: 5px;
}


/* ############################### container전체 ############################ */



/* ####################################/////footer/////############################################## */


/* ####################################/////footer/////############################################## */
/* footer */

#footer {
    background-color: rgb(233, 234, 234);
    /* margin-bottom: 30px; */
    padding-bottom: 5vh;
}

#footer div {
    margin-left: 1vw;
}

#footer .footer_cover {
    margin: 0 auto;
}

/* 고객센터, FamilySite ================================================== */

/* 고색센터 위  */
.foot_margin_top1 {
    margin-top: 70px;
}

span,
strong {
    display: inline-block;
    font-weight: bold;
}

strong {
    margin-left: 18px;
    color: rgb(44, 44, 173);
    font-size: 30px;
}

.CustomerService {
    display: inline-block;
}

.FamilySite {
    display: inline-block;
    /* 오른쪽 고정 */
    position: relative;
    left: 885px;
}

/* 수신자 부담전화=================================================== */
/* 수신자 부담전화 위 */
.foot_margin_top2 {
    margin-top: 35px;
}

/* 왼쪽 margin number은 리스트 */
.foot_list1>li+li,
.foot_list1>li+li+li+li,
.foot_list2>li+li,
.foot_list2>li+li+li+li {
    margin-left: 10px;
}

.foot_list1>li+li+li,
.foot_list2>li+li+li {
    margin-left: 50px;
}

/* 다른 사이트 "_blank"================================================== */
/* sns_src 위 */
.foot_margin_top3 {
    margin-top: 10px;
}

.sns_src {
    position: relative;
    left: 900px;
    width: 300px;
    height: 60px;
}

.sns_src>li:nth-of-type(n+2) {
    margin-left: 25px;
}

.sns_src>li {
    display: inline-block;
}

.sns_src>li>a {
    background: url(../image/instagram.svg) no-repeat 0/ cover;
    display: inline-block;
    width: 40px;
    height: 40px;
    text-indent: -9999em;
}

.sns_src>li+li>a {
    background: url(../image/youtube.svg) no-repeat 0/ cover;
    display: inline-block;
    width: 48px;
}

.sns_src>li+li+li>a {
    background: url(../image/facebook.svg) no-repeat 0/ cover;
    display: inline-block;
    width: 40px;
}

.sns_src>li+li+li+li>a {
    background: url(../image/twitter.svg) no-repeat 0/ cover;
    display: inline-block;
    width: 40px;
}


/* 로고 이미지 ================================================= */
/* 이미지 위 */
.foot_margin_top4 {
    margin-top: 5px;
}

.foot_logo>img {
    width: 130px;
}

/* 제휴(a 태그)=================================================== */
/* 제휴위 */
.foot_margin_top5 {
    margin-top: 20px;
}

.foot_list3>li:nth-of-type(n+2),
.foot_list4>li:nth-of-type(n+2) {
    margin-left: 20px;
}

.top_margin_6 {
    margin-top: 20px;
}