/* =========공통 속성=========== */

* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'NEXON Lv2 Gothic';
}

@font-face {
    font-family: 'NEXON Lv2 Gothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0 auto;
    color: #333;
    word-wrap: break-word;
    word-break: keep-all;
}

.headerTop,
.headerMenu,
#container,
#footer .footer_cover {
    max-width: 1400px;
    margin: 0 auto;
}

/* div {
    border: 1px solid;
} */

a {
    color: #222;
    text-decoration: none;
    outline: none;
}


li,
dt,
dl {
    display: inline-block;
}


#container {
    max-width: 1240px;
    margin: 0 auto;

}

/* ======================header====================== */
/* ====================header 공통==================== */
header {
    /* height: 120px; */
    margin-bottom: 50px;
}

/* .headertop_cover {
    background-color: rgba(223, 223, 223, 0.4);
} */

.headerTop {
    height: 70px;
    padding: 0 10px 0 10px;
    display: grid;
    grid-template: 20fr 1fr 1fr /1fr;
    justify-content: flex-start;
    position: relative;
}

.header_cover {
    background-color: white;
    border-bottom: 1px solid lightgray;
    box-shadow: 1px 1px 2px lightgray;
    /* height: 60px; */
    padding: 0 10px 0 10px;
    position: sticky;
    top: 0;
    z-index: 9999;
}

/* ----------- 상단 헤더 ----------- */
.mainLogo {
    width: 150px;
    text-indent: -9999em;
    background: url(../image/crop_logo_black.png) no-repeat 0/100%;
    margin-left: 15px;
}

/* 로그인탭 */
.serviceTab {
    line-height: 80px;
    padding-right: 20px;

    position: absolute;
    right: 0;
    bottom: 0;
}

.serviceTabList {
    white-space: nowrap;
}

.serviceTabList li {
    display: inline-block;
    font-size: 12px;
}

.serviceTabList li a {
    color: grey;
}

.serviceTabList li+li::before {
    content: " | ";
    color: grey;
}

/* ----------- 하단 헤더 ----------- */
.headerMenu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

/* 좌측 카테고리 */
.mainCategoryList {
    display: flex;
}

.mainCategoryList>li {
    padding: 20px;
}

.mainCategoryList>li>a {
    color: black;
    font-weight: bold;
}

/* ============== 카테고리 세부 메뉴 ============== */
.detailCategoryList {
    visibility: hidden;

    box-sizing: border-box;
    width: 35em;
    font-weight: initial;
    background-color: white;
    padding: 20px 40px;
    border: 1px solid lightgray;
    /* border-top: none; */
    box-shadow: 1px 1px 2px lightgray;

    position: absolute;
    top: 100%;
    left: 0;
}

.detailCategoryList>ul {
    width: 12em;
    height: 16.25em;

    position: relative;
    display: flex;
    flex-direction: column;
}

.detailCategoryList li {
    padding: 15px;
}


.detailCategoryList a {
    display: block;
}

.detailCategoryListof {
    visibility: hidden;
    width: 12em;
    border-left: 1px solid lightgray;
    padding-left: 50px;

    position: absolute;
    top: 0;
    left: 100%;

    display: flex;
    flex-direction: column;
}

.bannerCategory:hover .detailCategoryList,
.drinkhover:hover .detailCategoryListof,
.detailCategoryListof:hover {
    visibility: visible;
}

/* 우측 검색창 */
.mainSearch {
    box-sizing: border-box;
    width: 250px;
    height: 40px;
    background-color: white;
    padding: 0 10px 0 10px;
}

.mainSearch input {
    box-sizing: border-box;
    width: 90%;
    border: none;
}

.mainSearch button {
    width: 10%;
    border: none;
    background: none;

    cursor: pointer;
}

.mainSearch img {
    height: 20px;
}

.mainSearch {
    height: 100%;
    display: flex;
    background-color: #f7f7f7;
    border-radius: 5px;
}

.mainSearch form {
    display: flex;
    align-items: center;
}

.mainSearch form input {
    background: none;
    height: 17px;
    width: 210px;
}

/* ####################################/////main/////############################################## */
/* ////////////////////////////////////////////// main 공통/////////////////////////////////////////////////////// */

.order_tit ul,
.order_tit {
    display: inline-block;
}

/*/////////////////////////////////////////////////// 장바구니 상단/////////////////////////////////////////////////*/
#contents {
    margin-bottom: 150px;
}

.location {
    text-align: right;
    margin: 20px 15px;
}

.location span {
    font-size: 8px;
    font-weight: lighter;
}

.order_tit {
    line-height: 20px;
    margin-bottom: 20px;
    width: 100%;
    position: relative;
}

.tri_arrow {
    width: 10px;
    margin: 0 10px;
}

.order_tit ul {
    position: absolute;
    right: 0;
}

.sub_contents {
    margin: 0 15px 20px 15px;
}

.order_tit span {
    font-weight: bold;
    font: 28px 'jua';
}

hr {
    border: solid 0.3px rgb(166, 166, 166);
    background: rgb(166, 166, 166);
    height: 4px;
    margin-bottom: 20px;
    border-radius: 10%/10%;
}

/* //////////////////////////////////////////////////////장바구니 메인///////////////////////////////////////////////// */

/* ===================================================구매 리스트 (표)======================================================== */
.cart_count_list table {
    border-collapse: collapse;
    border-right: hidden;
    border-left: hidden;
    width: 95%;
    margin: 10px auto;
}

tr,
td {
    border: .5px solid rgba(166, 166, 166, 0.7);
}

.cart_count_list tbody td {
    border-right: hidden;
    /* 체크박스 오른쪽 옆 테두리 제거 */
}

td {
    line-height: 50px;
}


th {
    border-collapse: collapse;
    border-bottom: 2px solid rgba(166, 166, 166, 0.7);
    text-align: center;
    line-height: 30px;
}

/*===================================================== 상품 옵션 정보 td(이미지)================================ */

tbody:not(tbody:nth-of-type(2)) {
    text-align: center;
}

tbody td:nth-of-type(2) img {
    /* display: inline-block; */
    width: 80px;
    vertical-align: middle;
    padding: 10px;
    margin-right: 20px;
    border-radius: 20px;
}

tbody td:nth-of-type(2) {
    vertical-align: middle;
}



/* =======================================================수량 카운트 버튼 td======================================================= */


.count_Pdt span {
    position: relative;
    vertical-align: middle;
}

.td_count_Pdt {
    line-height: 100%;
}

.text_count {
    border: 1px solid;
    width: 30px;
    text-align: right;
}

/* ======================================================구매 리스트(표) 밑 쇼핑 계속하기 버튼=============================== */

.btn_Cart_Under em {
    font-style: inherit;
    border-bottom: 1px solid;
    padding-bottom: 3px;
    font-weight: lighter;
    font-size: 14px;
    margin-left: 30px;
}

/* ///////////////////////////////////////////////////제품 가격 표시////////////////////////////////////////////////////////// */
/* ====================================================전체 공통================================================================== */
.price_sum {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}

/* ========================================================구매 목록 별 설정============================================ */
.price_sum_list {
    margin-right: 30px;
}

.price_sum_list dl {
    text-align: center;
    margin: 0 20px;
    vertical-align: middle;
    font-size: 18px;
}

.price_sum_list span {
    vertical-align: middle;
}

/* ////////////////////////////////////////////////구매하기 버튼/////////////////////////////////////////////// */
/* ===================================================전체 공통================================================ */
.order_box {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 0 30px;
    line-height: 75px;
}

.left_order_box,
.right_order_box {
    vertical-align: middle;
}

/* ===============================================왼쪽 찜하기 버튼==================================================== */
.left_order_box button {
    border: solid 1px #efefef;
    background-color: #efefef;
    padding: 5px;
    box-sizing: border-box;
    margin-left: 10px;
    cursor: pointer;
}

/* ==================================================오른쪽 주문 버튼============================================= */

.right_order_box button {
    border: solid 1px #efefef;
    background-color: #efefef;
    padding: 5px;
    box-sizing: border-box;
    margin: 0 5px;
    font-size: 18px;
    box-sizing: border-box;
    width: 190px;
    line-height: 40px;
    font-weight: bold;
    cursor: pointer;
}

.right_order_box button:nth-of-type(2) {
    background-color: #084875b7;
    color: white;
    border: solid 0.5px #084875b7;
    margin-right: 30px;
}

/* ///////////////////////////////////////////연관 상품////////////////////////////////////////////////////////*/
/* ===========================================상단 주석======================================================== */

.main_recommend {
    margin-bottom: 50px;
}

.recommend_tit {
    line-height: 30px;
    margin: 0 0 20px 15px;
}

.recommend_tit span:nth-of-type(1) {
    font-size: 20px;
    font-weight: bold;
    color: rgb(73, 3, 225);
    margin-right: 20px;
}

/* ============================================상품 이미지(table 전체)============================================ */
.product_main tr,
.product_main th,
.product_main td {
    border: none;
}


.product_main tr {
    display: flex;
}

.product_main tr:nth-of-type(1) {
    justify-content: space-around;
}

.product_main tr:nth-of-type(2)>td {
    flex-basis: calc(100%/6);
    margin-left: 10px;
}

.product_main tr:nth-of-type(1) div:nth-of-type(2),
.product_main tr:nth-of-type(2)>td span {
    position: relative;
    right: 30%;
}

.product_main tr:nth-of-type(1) div:nth-of-type(2) {
    margin: 10px 0 0 30px;
    flex-basis: calc(100%/6);
}

.product_main th {
    flex-basis: calc((100% - 10%)/6);
}

.pro_thumbnail {
    max-width: 100%;
    border-radius: 5px;
}


/* ########################/////footer/////##################### */
/* footer */

#footer {
    box-sizing: border-box;
    background-color: rgb(233, 234, 234);
    padding: 70px 30px 30px 30px;
}

#footer .footer_cover {
    /* width: 1240px; */
    margin: 0 auto;
}

.footer_cover li {
    display: inline-block;
}

/* 고객센터, FamilySite ================================================== */
/* .footer_cover span,
.footer_cover strong {
    display: inline-block;
    font-weight: bold;
} */

.footer_cover strong {
    margin-left: 18px;
    color: #084875b7;
    font-size: 30px;
}

.CustomerService {
    display: inline-block;
    width: 100%;
    position: relative;
}

.FamilySite {
    /* 오른쪽 고정 */
    position: absolute;
    right: 0;
}

/* 수신자 부담전화=================================================== */
/* 수신자 부담전화 위 */
.foot_margin_top2 {
    margin-top: 35px;
}

/* 왼쪽 margin number은 리스트 */
.foot_list1>li+li,
.foot_list1>li+li+li+li,
.foot_list2>li+li,
.foot_list2>li+li+li+li {
    margin-left: 10px;
}

.foot_list1>li+li+li,
.foot_list2>li+li+li {
    margin-left: 50px;
}

.foot_list3 a {
    color: initial;
}

/* 다른 사이트 "_blank"================================================== */
/* sns_src 위 */
.foot_margin_top3 {
    width: 100%;
    height: 10px;
    position: relative;
}

.sns_src {
    width: 225px;
    height: 60px;

    position: absolute;
    right: 0;

    display: flex;
    justify-content: space-between;
}

.sns_src li a {
    display: inline-block;
    text-indent: -9999em;
    width: 40px;
    height: 40px;
}

.sns_src li:nth-of-type(1) a {
    background: url(../image/instagram.svg) no-repeat center/cover;
}

.sns_src li:nth-of-type(2) a {
    background: url(../image/youtube.svg) no-repeat center/cover;
    width: 48px;
}

.sns_src li:nth-of-type(3) a {
    background: url(../image/facebook.svg) no-repeat center/cover;
}

.sns_src li:nth-of-type(4) a {
    background: url(../image/twitter.svg) no-repeat center/cover;
}

/* 로고 이미지 ================================================= */
/* 이미지 위 */
.foot_margin_top4 {
    margin-top: 10px;
}

.foot_logo>img {
    width: 130px;
}

/* 제휴(a 태그)=================================================== */
/* 제휴위 */
.foot_margin_top5 {
    margin-top: 20px;
}

.foot_list3>li:nth-of-type(n+2),
.foot_list4>li:nth-of-type(n+2) {
    margin-left: 20px;
}

.top_margin_6 {
    margin-top: 20px;
}