* {
    margin: 3px;
    background-color: rgb(233, 234, 234);
    color: rgb(72, 71, 71);
}

/* 고객센터, FamilySite ================================================== */
span,
strong {
    display: inline-block;
    font-weight: bold;
}

strong {
    margin-left: 18px;
    color: rgb(44, 44, 173);
    font-size: 30px;
}

.CustomerService {
    display: inline-block;
}

.FamilySite {
    display: inline-block;
    margin-left: 500px;
    /* 고객센터 위 margin */
    margin-top: 100px;
}

/* 수신자 부담전화=================================================== */
/* 수신자 부담전화 위 */
.top_margin_1 {
    margin-top: 60px;
}

/* list태그 기본 설정. 1,2는 전화번호. 3은 제휴(a 태그) 4는 상호명*/
.number_1,
.number_2,
.number_1>li,
.number_2>li,
.number_3,
.number_3>li,
.number_4,
.number_4>li,
.sns_src {
    list-style: none;
    display: inline-block;
    padding: 0;
}

/* 왼쪽 margin */
.number_1>li+li,
.number_1>li+li+li+li,
.number_2>li+li,
.number_2>li+li+li+li {
    margin-left: 10px;
}

.number_1>li+li+li,
.number_2>li+li+li {
    margin-left: 50px;
}

/* 다른 사이트 "_blank"================================================== */

.sns_src {
    margin-left: 770px;
}

.sns_src>li {
    display: inline-block;
}

.sns_src>li>a {
    background: url(./image/instagram.svg) no-repeat 0/ cover;
    display: inline-block;
    width: 40px;
    height: 40px;
    text-indent: -9999em;
}

.sns_src>li+li>a {
    background: url(./image/youtube.svg) no-repeat 0/ cover;
    display: inline-block;
    width: 48px;
}

.sns_src>li+li+li>a {
    background: url(./image/facebook.svg) no-repeat 0/ cover;
    display: inline-block;
    width: 40px;
}

.sns_src>li+li+li+li>a {
    background: url(./image/twitter.svg) no-repeat 0/ cover;
    display: inline-block;
    width: 40px;
}


/* ================================================= */
/* 이미지 위 */
.top_margin_2 {
    margin-top: 10px;
}


.footer_img>img {
    /* max-width: 200px; */
    width: 100px;
    height: 50px;
}