/* =========공통 속성=========== */

* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'NEXON Lv2 Gothic';
}

@font-face {
    font-family: 'NEXON Lv2 Gothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0 auto;
    color: #333;
    word-wrap: break-word;
    word-break: keep-all;
}

.headerTop,
.headerMenu,
#container,
#footer .footer_cover {
    max-width: 1400px;
    margin: 0 auto;
}

/* div {
    border: 1px solid;
} */

a {
    color: #222;
    text-decoration: none;
    outline: none;
}

/* .fake::after {
    content: "";
    display: block;
    height: 70px;
} */

.topfloatingbar {
    width: 45px;
    height: 45px;
    background: url(../image/rightscroller.png) center/80%;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 100%;
    opacity: 0.3;

    position: fixed;
    bottom: 30px;
    right: 30px;
}

/* ======================header====================== */
/* ====================header 공통==================== */
header {
    /* height: 120px; */
    margin-bottom: 50px;
}

/* .headertop_cover {
    background-color: rgba(223, 223, 223, 0.4);
} */

.headerTop {
    height: 70px;
    padding: 0 10px 0 10px;
    display: grid;
    grid-template: 20fr 1fr 1fr /1fr;
    justify-content: flex-start;
    position: relative;
}

.header_cover {
    background-color: white;
    border-bottom: 1px solid lightgray;
    box-shadow: 1px 1px 2px lightgray;
    /* height: 60px; */
    padding: 0 10px 0 10px;
    position: sticky;
    top: 0;
    z-index: 9999;
}

/* ----------- 상단 헤더 ----------- */
.mainLogo {
    width: 150px;
    text-indent: -9999em;
    background: url(../image/crop_logo_black.png) no-repeat 0/100%;
    margin-left: 15px;
}

/* 로그인탭 */
.serviceTab {
    line-height: 80px;
    padding-right: 20px;

    position: absolute;
    right: 0;
    bottom: 0;
}

.serviceTabList {
    white-space: nowrap;
}

.serviceTabList li {
    display: inline-block;
    font-size: 12px;
}

.serviceTabList li a {
    color: grey;
}

.serviceTabList li+li::before {
    content: " | ";
    color: grey;
}

/* ----------- 하단 헤더 ----------- */
.headerMenu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

/* 좌측 카테고리 */
.mainCategoryList {
    display: flex;
}

.mainCategoryList>li {
    padding: 20px;
}

.mainCategoryList>li>a {
    color: black;
    font-weight: bold;
}

/* ============== 카테고리 세부 메뉴 ============== */
.detailCategoryList {
    visibility: hidden;

    box-sizing: border-box;
    width: 35em;
    font-weight: initial;
    background-color: white;
    padding: 20px 40px;
    border: 1px solid lightgray;
    /* border-top: none; */
    box-shadow: 1px 1px 2px lightgray;

    position: absolute;
    top: 100%;
    left: 0;
}

.detailCategoryList>ul {
    width: 12em;
    height: 16.25em;

    position: relative;
    display: flex;
    flex-direction: column;
}

.detailCategoryList li {
    padding: 15px;
}


.detailCategoryList a {
    display: block;
}

.detailCategoryListof {
    visibility: hidden;
    width: 12em;
    border-left: 1px solid lightgray;
    padding-left: 50px;

    position: absolute;
    top: 0;
    left: 100%;

    display: flex;
    flex-direction: column;
}

.bannerCategory:hover .detailCategoryList,
.drinkhover:hover .detailCategoryListof,
.detailCategoryListof:hover {
    visibility: visible;
}

/* 우측 검색창 */
.mainSearch {
    box-sizing: border-box;
    width: 250px;
    height: 40px;
    background-color: white;
    padding: 0 10px 0 10px;
}

.mainSearch input {
    box-sizing: border-box;
    width: 90%;
    border: none;
}

.mainSearch button {
    width: 10%;
    border: none;
    background: none;

    cursor: pointer;
}

.mainSearch img {
    height: 20px;
}

.mainSearch {
    height: 100%;
    display: flex;
    background-color: #f7f7f7;
    border-radius: 5px;
}

.mainSearch form {
    display: flex;
    align-items: center;
}

.mainSearch form input {
    background: none;
    height: 17px;
    width: 210px;
}


/* ############################### container전체 ############################ */

#container {
    max-width: 1240px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 auto;

}


/* ===================== main ============================= */

.detailScriptPage {
    /* border: 1px solid; */
    width: 1240px;
    box-sizing: border-box;
    margin: 0 auto;
}

.leftSide {
    display: inline-block;
    box-sizing: border-box;
    width: 70%;
    text-align: center;
    margin-top: 70px;

    /* border: solid 1px lightgray; */
    border-radius: 10px;
}

.leftSide .flex {
    /* border: 1px solid; */
    display: flex;
    width: 100%;
}

.rightSide {
    display: inline-block;
    position: sticky;
    bottom: 27.5vh;
}




/* ================= 이미지 오른쪽 상세설명 ==================== */
.detail_tit_img>img {
    margin-left: 70px;
    width: 300px;
    height: 400px;
}

.detail_tit,
.detail_tit_img {
    display: inline-block;
}

.detail_tit {
    /* border: 1px solid; */
    text-align: initial;
    vertical-align: top;
    font-weight: bold;
    margin-left: 30px;
}

.detail_tit div {
    padding-top: 8px;
}

.opa5 {
    opacity: 0.7;
}

.detail_tit_top {
    font-size: 25px;
}

.detail_tit_bot {
    color: gold;
}

.detail_tit_star::after {
    content: " ★ ★ ★ ★ ★ ";
    opacity: 0.5;
}

.font_weight {
    font-weight: bold;
}

.price {
    font-size: 30px;
}

.blue {
    color: blue;
}

/* ======================================================= */
/* 핵심 포인트 */
.point {
    text-align: center;
    background-color: #efefef;
    padding: 50px;
    width: 600px;
    height: 800px;
    font-size: 20px;
    margin: 100px auto;
}

.point_text1 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 50px;
}

.point_text2,
.point_text3,
.point_text4 {
    background-color: white;
    height: 200px;
    width: 600px;
    margin: 0 auto;
    border-radius: 15px;
}

.point_containing {
    position: relative;
}

.point_img>img {
    width: 100px;
    border-radius: 50%;
    position: absolute;
    left: 10px;
    top: 10px;
}

.yellow_img {
    background-color: yellow;
}

/* 첫 번째 줄 */
.point_text_first {
    padding-top: 60px;
    padding-bottom: 10px;
    font-weight: bold;
}

/* 두 번째 줄 */
.point_text_second {
    padding-top: 20px;
}

/* 위에 margin */
.point_text3,
.point_text4 {
    margin-top: 30px;
}


/* ========== 어울리는 안주 =========== */

.side_dish {
    /* text-align: center; */
    /* border: 1px solid; */
    width: 100%;
}

.side_dish_tit {
    margin: 70px 0 50px 0;
    font-weight: bold;
    font-size: 16px;
}

.side_dish_img div {
    display: inline-block;
}

.side_dish_first img,
.side_dish_second img,
.side_dish_third img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.side_dish_wrap {
    width: 150px;
    height: 150px;
    margin: 0 15px;
}

.side_dish_wrap label {
    display: block;
    margin-top: 15px;
}

/* ===================== 상세 설명 ===================== */
/* 양조장 배송 */
.detail_explain_top {
    margin-top: 70px;
    width: 70%;
    margin-left: calc(100% / 7);
    /* border: 1px solid; */
    text-align: initial;
}

.detail_explain_deliver_img {
    height: 50px;
    line-height: 50px;
    background-color: gold;
    border-top-left-radius: 5% 70%;
    border-top-right-radius: 5% 70%;
}

.detail_explain_deliver_img div {
    margin-left: 30px;
    font-size: 1.2em;
    font-weight: bold;
}


.detail_explain_deliver>div>div {
    display: inline-block;
}

.detail_explain_deliver div:nth-of-type(2) {
    font-size: 18px;
}

.detail_explain_delive_list {
    height: auto;
    padding: 10px 0 10px 0;
    background-color: rgb(248, 238, 182);
    border-bottom-left-radius: 5% 35%;
    border-bottom-right-radius: 5% 35%;
}

.detail_explain_delive_list ul {
    margin-left: 20px;
}

.detail_explain_delive_list li:nth-of-type(1) {
    padding-top: 10px;
}

.detail_explain_delive_list li {
    margin-bottom: 5px;
    list-style: circle;
    margin-left: 35px;
}

/* 상품설명 메인 */
.detail_explain_main img {
    width: 645px;
    margin-top: 100px;
}

.detail_explain_main_text p:nth-of-type(1),
.detail_explain_main_text p:nth-of-type(2) {
    font-size: 1.5em;
}

.gold {
    color: gold;
}


/* ===================================================== */
/* Kakao+ 친구 */

.kakao_plus {
    border: 4px solid rgb(231, 193, 81);
    border-radius: 50px;
    width: 440px;
    height: 360px;
    margin: 100px auto;
    text-align: center;
    box-sizing: border-box;
    padding: 25px;
}

.kakao_plus_svg>a {
    background: url(../image/k.svg) no-repeat center/45px 45px;
    display: inline-block;
    width: 60px;
    height: 60px;
    text-indent: -9999em;
    background-color: rgb(251, 211, 89);
    border-radius: 40%;
}

.kakao_text {
    margin-top: 15px;
}

.kakao_text>p>a {
    color: rgb(231, 193, 81);
}

.kakao_text p {
    line-height: 45px;
}

/* ==================== 리뷰 ======================= */
.review-wrap {
    margin: 0 auto;
    width: 750px;

    border-top: 2px solid #efefef;

}

.review_filter {
    display: flex;
    justify-content: space-between;

    width: 95%;
    margin: 50px auto 0 auto;
}

.review_header {
    background-color: #efefef;
    /* border: 1px solid #ccc; */
    border-radius: 8px 8px;
    padding: 10px;
    margin-top: 20px;
}

.review_header_right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 80%;
}

.review_header_right>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
}

/* .review_detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
} */

.review_header {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.review_header_tit {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.review_star::after {
    padding: 0 10px;
    content: "☆☆☆☆☆";
    display: inline-flex;
    position: relative;
    font-size: 1.2em;
}

.review_txt {
    padding: 50px;
    text-align: justify;
    word-break: break-all;
}

/* ======================================================= */
/* =======================플로팅바=================== */
.rightFloat {
    box-sizing: border-box;
    box-shadow: 4px 4px 5px lightgray;
    height: 500px;
    width: 300px;
    text-align: center;
    border: 1px solid lightgray;
    border-radius: 30px;
    /* padding: 30px 10px; */
    margin-left: 60px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rightSide .label {
    font-weight: bold;
    text-align: left;
    margin: 15px 0;
}

.optOfProduct,
.numofProduct,
.productPrice {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    border: 1px lightgray solid;
    padding: 10px 0;
    margin-bottom: 30px;
    text-align: center;
}

.numofProduct input {
    width: 45%;
    height: 100%;
    border: none;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    text-align: center;
}

.guideofShipment {
    width: 100%;
    background-color: rgb(245, 245, 245);
    text-align: left;
    padding: 10px 0;
    margin-bottom: 30px;
}

.guideofShipment {
    background: url(../image/starbucks.jpg) no-repeat left/45px;
    background-color: #f1f1f163;
}

.guideofShipment p {
    padding: 0 30px;
}

.productBuy_btn {
    display: flex;
    justify-content: space-evenly;
}

.productBuy_btn button {
    padding: 10px 20px;
    font-size: 100%;
    font-weight: bold;
    background-color: #e3f2fd;
    border: 1px solid #e3f2fd;
    border-radius: 5px;
    cursor: pointer;
}



/* ########################/////footer/////##################### */
/* footer */

#footer {
    box-sizing: border-box;
    background-color: rgb(233, 234, 234);
    padding: 70px 30px 30px 30px;
}

#footer .footer_cover {
    /* width: 1240px; */
    margin: 0 auto;
}

.footer_cover li {
    display: inline-block;
}

/* 고객센터, FamilySite ================================================== */
/* .footer_cover span,
.footer_cover strong {
    display: inline-block;
    font-weight: bold;
} */

.footer_cover strong {
    margin-left: 18px;
    color: #084875b7;
    font-size: 30px;
}

.CustomerService {
    display: inline-block;
    width: 100%;
    position: relative;
}

.FamilySite {
    /* 오른쪽 고정 */
    position: absolute;
    right: 0;
}

/* 수신자 부담전화=================================================== */
/* 수신자 부담전화 위 */
.foot_margin_top2 {
    margin-top: 35px;
}

/* 왼쪽 margin number은 리스트 */
.foot_list1>li+li,
.foot_list1>li+li+li+li,
.foot_list2>li+li,
.foot_list2>li+li+li+li {
    margin-left: 10px;
}

.foot_list1>li+li+li,
.foot_list2>li+li+li {
    margin-left: 50px;
}

.foot_list3 a {
    color: initial;
}

/* 다른 사이트 "_blank"================================================== */
/* sns_src 위 */
.foot_margin_top3 {
    width: 100%;
    height: 10px;
    position: relative;
}

.sns_src {
    width: 225px;
    height: 60px;

    position: absolute;
    right: 0;

    display: flex;
    justify-content: space-between;
}

.sns_src li a {
    display: inline-block;
    text-indent: -9999em;
    width: 40px;
    height: 40px;
}

.sns_src li:nth-of-type(1) a {
    background: url(../image/instagram.svg) no-repeat center/cover;
}

.sns_src li:nth-of-type(2) a {
    background: url(../image/youtube.svg) no-repeat center/cover;
    width: 48px;
}

.sns_src li:nth-of-type(3) a {
    background: url(../image/facebook.svg) no-repeat center/cover;
}

.sns_src li:nth-of-type(4) a {
    background: url(../image/twitter.svg) no-repeat center/cover;
}

/* 로고 이미지 ================================================= */
/* 이미지 위 */
.foot_margin_top4 {
    margin-top: 10px;
}

.foot_logo>img {
    width: 130px;
}

/* 제휴(a 태그)=================================================== */
/* 제휴위 */
.foot_margin_top5 {
    margin-top: 20px;
}

.foot_list3>li:nth-of-type(n+2),
.foot_list4>li:nth-of-type(n+2) {
    margin-left: 20px;
}

.top_margin_6 {
    margin-top: 20px;
}

/* 애니메이션 */
@media screen and (max-width:77.5em) {
    .rightSide {
        display: none;
    }

    .detailScriptPage {
        width: auto;
        text-align: center;
    }

    .leftSide {
        width: 95%;
        font-size: 1.2em;
    }
}

@media screen and (max-width:54.25em) {
    .leftSide {
        width: initial;
        font-size: initial;
    }
}